<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>Article</title>
</head>

<body>

    <header class="container-fluid p-5 bg-primary text-white text-center">
        <div class="img">
            <div class="w-25 p-4 mx-auto">
                <img src="https://m0.her.ie/wp-content/uploads/2019/04/25133811/iStock-488261971.jpg" class="img-fluid"
                    alt="...">
            </div>
        </div>

        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/registration">Registration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Log in</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>

    <div class="img">
        <div class="w-50 p-4 mx-auto" style="background-color: #eee;">
            <img src="https://m0.her.ie/wp-content/uploads/2019/04/25133811/iStock-488261971.jpg" class="img-fluid"
                alt="...">
        </div>
    </div>

    <article>
        <divc class="container">
            <div class="row">
                <div class="text-center">
                    <h1 style="font-size: 75px">This is a heading</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, atque eveniet! Nihil,
                        debitis.
                        Pariatur, asperiores similique eveniet laudantium optio eos necessitatibus, dolore architecto
                        nostrum
                        voluptatum odio dignissimos voluptatibus provident numquam recusandae, tenetur fugiat ipsa
                        suscipit!
                        Corporis maxime voluptates voluptatem velit officia repellendus neque. Cupiditate deserunt
                        aliquid
                        numquam mollitia! Suscipit, officiis ex, blanditiis consectetur aspernatur similique, eveniet
                        vitae
                        maiores veniam animi perspiciatis explicabo voluptates sint natus nemo impedit veritatis
                        accusamus sed
                        tenetur magni consequatur laborum ratione laudantium eaque. Eius distinctio, culpa officiis
                        tempore est
                        eveniet doloribus dolor facilis, sit repellat sapiente veritatis dolore, commodi provident
                        adipisci
                        delectus vero perspiciatis. Optio, nulla velit! Rem, in. Corporis vitae optio ut accusamus rem,
                        laudantium velit eius ipsa animi repellat id nemo suscipit dignissimos aliquam alias! Officia
                        ullam
                        pariatur eveniet officiis debitis libero placeat cupiditate similique dignissimos, neque
                        voluptatum qui
                        iure corporis? Nisi nihil sint sed dolorem totam dicta libero, quam quia atque error ipsa ipsum
                        accusantium eligendi officiis omnis. Omnis amet quos quam aut neque, magnam porro voluptatibus
                        facere
                        vel, impedit, exercitationem sit? Voluptas, neque doloribus explicabo suscipit corporis delectus
                        repudiandae recusandae provident non! Consequatur impedit corrupti magni earum itaque aperiam et
                        nemo
                        necessitatibus officia vero, quis, quod laudantium excepturi aut. Consectetur praesentium
                        nostrum
                        eveniet, fugit nihil illum voluptatem est inventore adipisci ducimus quia consequatur culpa?
                        Libero
                        tenetur quibusdam autem ducimus optio qui quia inventore quidem voluptatum? Hic sed, nemo
                        tempore ab
                        impedit cupiditate quam eaque ut magnam ad fugit fugiat voluptatum veniam eveniet ipsam,
                        laboriosam
                        itaque cumque repellat dignissimos? Quia eum quibusdam ullam aspernatur beatae? Vitae veritatis
                        accusantium rerum nulla sint itaque ratione libero, aut cumque doloribus tempora consequatur
                        aliquid.
                        Magni at repellat ipsa nisi sapiente voluptas, dolorum reprehenderit distinctio repellendus ab
                        magnam
                        voluptatibus placeat facilis culpa qui? Alias accusantium molestiae id, voluptates deserunt a
                        quos vitae
                        placeat quibusdam porro tenetur quidem provident quis qui consequuntur enim est odio amet
                        minima. Porro
                        excepturi optio quisquam architecto repellat quaerat, ullam fugiat, id ut nemo et ducimus nam,
                        enim
                        pariatur quasi sapiente? Nemo amet facere nobis earum excepturi! Molestiae ab atque velit
                        corporis nisi,
                        corrupti fugiat aperiam dignissimos doloremque repellat placeat nemo quae esse consectetur
                        numquam
                        asperiores quidem nobis facere accusamus ducimus! Officiis autem voluptatibus consequuntur
                        tempore, quod
                        repellendus expedita qui excepturi accusantium eum a? Possimus recusandae, illum, officiis
                        mollitia
                        impedit reprehenderit facilis eos nemo voluptatem amet nobis atque eum harum enim voluptates
                        iure,
                        laborum saepe ipsam dolores non. Blanditiis asperiores est perferendis molestias dignissimos,
                        consequatur laudantium modi, necessitatibus illo vitae totam quibusdam nam qui adipisci neque
                        repudiandae pariatur earum non deleniti sequi doloribus, nulla odio fuga. Aspernatur corrupti
                        blanditiis
                        impedit totam suscipit harum eligendi esse iste fuga nostrum quam fugiat, laudantium dicta
                        corporis et
                        eius quidem recusandae voluptatum omnis! Illo similique odio, ullam ex, perspiciatis corporis
                        vero
                        blanditiis ab perferendis commodi porro in hic omnis accusamus ipsa odit aut sit. Fuga expedita
                        sit,
                        numquam, dolores sapiente architecto et deserunt iusto nulla id accusantium dolor provident
                        accusamus
                        facilis natus esse eum consequatur. Atque laudantium, nulla explicabo maiores deserunt natus
                        dolor, est
                        reprehenderit nesciunt voluptatibus officiis cumque delectus quis deleniti veritatis corrupti
                        fuga
                        aliquam eveniet? Minus fugit fugiat harum numquam recusandae quis debitis et sit saepe aperiam
                        ipsa odio
                        illo quaerat nostrum autem ut, dolor in alias, eveniet, exercitationem reiciendis. Neque
                        architecto
                        quidem eaque. Perferendis, nam? Temporibus iure amet provident ipsam earum quas enim porro
                        maxime,
                        repellat ex. Placeat illo veritatis quam, rerum sequi nobis quia iure consectetur hic soluta
                        amet
                        incidunt nulla perspiciatis qui deserunt ad ut ipsa velit dolores et officiis minima voluptates.
                        Voluptates dolorem sit enim accusamus, ut optio eaque possimus tempora quidem adipisci tempore
                        quia a
                        sed, eos consequuntur eligendi nesciunt nihil aut laborum numquam? Sit distinctio deserunt
                        dolorum,
                        vitae quibusdam adipisci labore earum quam error recusandae suscipit explicabo, architecto
                        tempore ex
                        debitis dolorem aut molestiae facilis. Adipisci sed ipsum provident error reiciendis consequatur
                        aliquam, perferendis ab dolor repudiandae deleniti praesentium ut delectus beatae molestiae a.
                        Eius
                        facilis dolore exercitationem veritatis dignissimos? Eveniet perferendis incidunt sed! Vitae
                        nemo
                        temporibus ullam quo laborum modi sint, repudiandae voluptates libero velit illum! Saepe tempora
                        adipisci provident aspernatur aut. Ad ducimus eos reprehenderit totam inventore, eaque qui
                        debitis esse
                        beatae quaerat? Quas minima magnam ea hic obcaecati consequuntur vitae iure adipisci minus error
                        quam
                        suscipit ullam, saepe eum rerum maxime accusamus illum quibusdam atque laboriosam laudantium
                        aliquid.
                        Assumenda eos dignissimos mollitia a asperiores reprehenderit veniam quia nesciunt voluptate rem
                        earum
                        adipisci voluptatem suscipit molestiae, ipsum atque nobis deserunt perspiciatis rerum tempore!
                        Provident
                        consequuntur dolorum odio sint quod minima inventore aspernatur placeat rerum illo quidem error,
                        quos
                        enim quis at ipsa. Fugiat dolorum eveniet consequatur ipsam! Provident libero beatae eaque
                        voluptates,
                        omnis similique eligendi quasi in quibusdam aspernatur id sit voluptatem, fuga rerum
                        necessitatibus
                        harum ipsa at saepe atque totam doloremque quis, sapiente autem pariatur. Rerum qui, quasi
                        architecto
                        sequi minima dolores soluta nihil eaque, iusto iste amet ad illum est dolorum nisi reiciendis!
                        Odit rem
                        necessitatibus unde maxime cum voluptatem quod consequatur excepturi quae corrupti! Repellat
                        blanditiis
                        quis aut quaerat sequi sunt! Eos, quasi. Nostrum, dolorum non doloremque a recusandae neque
                        voluptate
                        saepe eaque iusto pariatur quas laboriosam, possimus molestias voluptatum? Vero, error mollitia?
                        Repellendus aspernatur dicta totam at earum debitis tempora nulla beatae dolorem quibusdam odio
                        tempore
                        sunt, numquam eveniet ipsum. Amet expedita voluptatum, explicabo deleniti molestiae reiciendis
                        non
                        obcaecati doloribus suscipit corrupti voluptas commodi at temporibus! Laboriosam culpa
                        perferendis
                        exercitationem quae, officiis aperiam, dignissimos laborum cumque magnam, debitis nobis
                        reprehenderit
                        optio doloribus? Pariatur quibusdam, sequi, nihil optio asperiores nostrum porro doloribus quis
                        omnis
                        veritatis modi unde expedita iste. Optio odio alias rem sequi enim soluta dignissimos quaerat
                        necessitatibus consectetur vero aut aliquid vel atque commodi architecto fugiat, dolor
                        recusandae quas
                        minima voluptatum blanditiis voluptate esse nostrum. Repudiandae fuga sequi necessitatibus, eum
                        modi
                        dignissimos saepe sunt ex quis cum quam? Voluptas delectus quas ipsam neque accusamus laboriosam
                        nobis
                        odit architecto laborum, et fugiat dolor quos, magni tempora possimus odio alias corrupti
                        recusandae
                        labore? Ab reprehenderit vel maxime pariatur repellendus, nulla commodi assumenda ipsam ex et
                        quo,
                        recusandae asperiores sed rem. Perspiciatis similique illum perferendis suscipit?</p>
                </div>
            </div>
            </div>
    </article>

    <div class="container py-4 py-md-5 mt-5 bg-light">
        <form action="https://httpbin.org/post" method="post">
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Comment</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="name" class="form-control" id="name" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"
                    required>
            </div>
            <button type="submit" class="btn btn-primary">Post Comment</button>
        </form>
    </div>

    <footer class="bd-footer py-4 py-md-5 mt-5 bg-light">
        <div class="row">
            <div class="col-lg-3 mb-3">
                <div class="img">
                    <div class="w-50 mx-auto" style="background-color: #eee;">
                        <img src="https://m0.her.ie/wp-content/uploads/2019/04/25133811/iStock-488261971.jpg"
                            class="img-fluid" alt="...">
                    </div>
                </div>

            </div>
            <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                <h5>Facebook</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="/">Link</a></li>

                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
                <h5>Instagram</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="">Link</a></li>

                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
                <h5>YouTube</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="">Link 5</a></li>

                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
                <h5>Linkedin</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="">Link</a></li>
                </ul>
            </div>
        </div>
    </footer>

</body>

</html>